@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    text-align: center;
}

nav {
    display: flex;
    align-items: center;
}

nav, header {
    width: 100%;
}

img {
    width: 100%;
}

a {
    font-size: 20px;
    font-weight: 400;
    color: #04146C;
    text-decoration: none;
    margin-right: 10px;
}

.activo {
    font-weight: 700;
}

#logo {
    width: 5%;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0%;
}

h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 96px;
    font-weight: 700;
    color: #0A2FF1;
}

h2 {
    font-weight: 400;
    font-size: 34px;
    color: #04146C;
}

h3 {
    font-size: 45px;
    color: #04146C;
}

h1, h3 {
    font-family: 'Roboto Slab', serif;
    font-size: 96px;
    font-weight: 700;
    color: #0A2FF1;
}

h4, main p {
    font-size: 24px;
    font-weight: 700;
    color: #04146C;
}

main {
    display: flex;
}

main h1 {
    font-size: 46px;
    color: #2C00CC;
}

main p {
    font-weight: 400;
    margin-bottom: 16px;
}

main div {
    width: 50%;
    display: inline-block;
}

div h1 {
    font-size: 46px;
    color: #2C00CC;
}

.img-cohete {
    position: relative;
}

.img-cohete img {
    margin-bottom: -70px;
    position: absolute;
    bottom: 0;
    left: 0;
}

form p, form label, textarea, input {
    font-size: 25px;
    color:#04146C;
    display: block;
}

label {
    font-weight: 700;
    margin-bottom: 15px;
}

span {
    color: red;
}

textarea {
    height: 100px;
}

textarea, input {
    width: 500px;
    height: 50px;
    border: 2px solid #2C00CC;
}

.botones {
    color: white;
    width: 150px;
    height: 50px;
    display: inline;
    margin-top: 20px;
}

#reset {
    background-color:#FF0000;
    border:none;
    margin-right:15px;
}

#enviar {
    background-color:#2C00CC;
}

footer {
    background-color: #3957f1;
    width: 100%;
    height: 100px;
    padding: 10px;
    display: flex;
    align-items: center;
}

#footer-logo {
    width: 10%;
}