@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300&display=swap');

@font-face {
    font-family:  font1;
    src: url(../fuentes/coolvetica.otf);
    font-weight:  bold;
}

* {
    text-align: center;
}

body {
    font-family: 'Roboto', sans-serif;
}

header p {
    font-weight: 300;
    font-size: 40px;
    color: #04146c;
}

header p span {
    font-weight: 700;
}

h1 {
    font-family: font1;
    font-weight: bold;
    font-size: 120px;
    color:#0a2ff1;
}

main {
    display: flex;
    justify-content: space-evenly;
}

div {
    width: 25%;
    padding: 3em;
    background-color: #eff2ff;
}

div img {
    width:30%;
}

div p  {
    font-weight: 400;
}

div h2 {
    font-weight: 300;
    font-style: italic;
}
div h3 {
    font-weight: 900;
}

div p, div h2, div h3 {
    font-size: 24px;
    color: #04146c;
}